<!DOCTYPE html>
<html>
    <%- include('./template/head') -%>
    <body>
        <%- include('./template/header') -%>
        <main class="main-section">
            <h1>Gestion Produits</h1>
            <h2>Détails Produit</h2>
            <section class="main-section" id="section-detail-produits">
                <article class="row-section">
                    <img src="<%= produit.urlImage%>" alt="<%= produit.nom%>"/>
                    <aside>
                        <h2> <%= produit.nom %> </h2>
                        <h3>Catégorie</h3>
                        <p><%= produit.categorie%></p>
                        <h3>Description</h3>
                        <p><%= produit.description%></p>
                        <h3>Prix</h3>
                        <p><%= produit.prix%> €</p>
                        <form action="/gestion-produits/<%= produit.id %>?_method=DELETE" method="POST" onsubmit="return confirmDelete(event);">
                            <button class="button" type="submit">Supprimer</button>
                        </form>
                    </aside>
                </article>
                <a href="/gestion-produits" class="button">Retour</a>
            </section>
        </main>
        <%- include('./template/footer') %>
    </body>
</html>