<!DOCTYPE html>
<html>
    <%- include('./template/head') -%>
    <body>
        <%- include('./template/header') -%>
        <main class="main-section">
            <h1>Gestion Produits</h1>
            <h2>Détails Produit</h2>
            <section class="main-section" id="section-detail-produits">
                <article class="row-section">
                    <img src="<%= produit.urlImage%>" alt="<%= produit.nom%>"/>
                    <aside>
                        <h2> <%= produit.nom %> </h2>
                        <h3>Catégorie</h3>
                        <p><%= produit.categorie%></p>
                        <h3>Description</h3>
                        <p><%= produit.description%></p>
                        <h3>Prix</h3>
                        <p><%= produit.prix%> €</p>
                        <form action="/gestion-produits/<%= produit.id %>?_method=DELETE" method="POST" onsubmit="return confirmDelete(event);">
                            <button class="button" type="submit">Supprimer</button>
                        </form>
                    </aside>
                </article>
                
                <article id="update-produit" class="row-section">
                    <form class="main-form" action="/gestion-produits-update" method="post" enctype="multipart/form-data">
                        <h2>Modifier le produit</h2>
                        <input type="hidden" name="id" id="id" value="<%= produit.id%>"/>

                        <label for="nom">Nom du produit</label>
                        <input type="text" name="nom" id="nom" value="<%= produit.nom %>" required />
            
                        <label for="urlImage">Image du produit</label>
                        <input type="file" name="urlImage" id="urlImage" accept="image/*" required />
            
                        <label for="categorie">Catégorie du produit</label>
                        <input type="categorie" name="categorie" id="categorie" value="<%= produit.categorie %>" required />
            
                        <label for="prix">Prix du produit</label>
                        <input type="number" name="prix" id="prix" min="0" value="<%= produit.prix %>" required />
            
                        <label for="description">Description du produit</label>
                        <textarea id="description" name="description" required><%= produit.description %></textarea>
            
                        <input type="submit" value = "Modifier" />
                    </form>
                </article>
                <a href="/gestion-produits" class="button">Retour</a>
            </section>
        </main>
        <%- include('./template/footer') %>
    </body>
</html>