<!DOCTYPE html>
<html>
    <%- include('./template/head') -%>
    <body>
        <%- include('./template/header') -%>
        <h1><%=compte.login%></h1>
        <p>Prix panier : <%=prix%></p>
        <%- include('./template/footer') -%>
    </body>
</html>